<section class="addTodo-section">
  <div class="todo-header">
    <h1>Adiconar TODO</h1>
  </div>
  <div class="todos-container">
    <form #todo="ngForm" (ngSubmit)="onSubmit(todo.value)">
      <label for="title"> Nome do todo: </label>
      <input
        type="text"
        name="title"
        placeholder="Titulo"
        #formTitle="ngModel"
        minlength="3"
        ngModel
        autocomplete="off"
        required
      />
      <label for="description">Descrição do todo:</label>
      <input
        type="text"
        name="description"
        placeholder="Descrição"
        #formDesc="ngModel"
        minlength="3"
        ngModel
        autocomplete="off"
        required
      />
      <div
        *ngIf="
          (formTitle.invalid && formTitle.touched) ||
          (formDesc.invalid && formDesc.touched)
        "
        class="add-error"
      >
        Campos Invalidos!
      </div>
      <input type="submit" value="Criar" [disabled]="todo.invalid" />
    </form>
  </div>
</section>
