<header [class.expand]="isOpen === true" (click)="openNav()">
  <div class="header__logo">
    <h2>Todos</h2>
  </div>
  <nav>
    <ul>
      <li routerLink="/todos" routerLinkActive="active">
        <i class="fa-solid fa-address-book fa-xl"></i>
        <span>Todos</span>
      </li>
      <li>
        <i class="fa-solid fa-user fa-xl"></i>
        <span>Perfil</span>
      </li>
      <li>
        <i class="fa-solid fa-right-from-bracket fa-xl"></i>
        <span>Sair</span>
      </li>
    </ul>
  </nav>
</header>
<main (click)="closeNav()">
  <router-outlet> </router-outlet>
</main>
<footer></footer>
