p span {
  font-weight: bold;
  font-size: 16px;
}
.todo-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 25px;
}
.view-box {
  max-width: 650px;
  margin: 0 auto;
  background-color: white;
  color: tomato;
  padding: 0.7rem;
  border-radius: 10px;
}

button {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 10px;
  border-radius: 999px;
  border: none;
  background: white;
  color: tomato;
  font-weight: bold;
  font-size: 23px;
  box-shadow: 0 0 5px 0px #0000000f;
}

@media (max-width: 870px) {
  button {
    position: inherit;
    margin: 0.5rem 0;
  }
}
