<section class="todoList-section">
  <div class="todo-header">
    <h1>Lista de Todos</h1>
    <button class="add-todo" routerLink="/add">+ Todo</button>
  </div>
  <div class="todos-container">
    <div class="todos" *ngFor="let todo of todos">
      <h3>{{ todo.title }}</h3>
      <p>{{ todo.description }}</p>
      <p
        [class.complete]="todo.status === 'complete'"
        [class.incomplete]="todo.status === 'incomplete'"
        [class.in-progress]="todo.status === 'in-progress'"
      >
        <strong>Status:</strong><br />{{ todo.status | uppercase }}
      </p>
    </div>
  </div>
</section>
